.fw-bold {
    font-weight: 700!important;
}

.display-5 {
    font-size: 3rem;
}

.display-5 {
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 300;
    line-height: 1.2;
}

.mb-4 {
    margin-bottom: 1.5rem!important;
    margin-top: 1.5rem!important;
}

.lead {
    font-size: 1.25rem;
    font-weight: 100;
    color: #959595;
    font-family: 'Roboto-Regular';
}

.section-dashboard {
  background-image: none;
}

.section-dashboard .u-sheet-1 {
  min-height: 323px;
}

.section-dashboard .u-text-1 {
  margin: 140px auto 0 80px;
}

.section-dashboard .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 11px auto 0 49px;
}

.section-dashboard .u-layout-wrap-1 {
  width: 748px;
  margin: -212px 49px 59px auto;
}

.section-dashboard .u-layout-cell-1 {
  min-height: 159px;
}

.section-dashboard .u-container-layout-1 {
  padding: 12px 0;
}

.section-dashboard .u-text-3 {
  font-weight: 700;
  font-size: 6rem;
  margin: 6px 49px 0 auto;
}

.section-dashboard .u-text-4 {
  font-size: 1.5rem;
  margin: -94px auto 0 48px;
}

.section-dashboard .u-shape-1 {
  width: 267px;
  height: 60px;
  margin: 4px auto 0 48px;
}

.section-dashboard .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -44px auto 0 102px;
}

.section-dashboard .u-icon-1 {
  width: 27px;
  height: 27px;
  margin: -31px auto 0 67px;
}

.section-dashboard .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -38px auto 0 181px;
}

.section-dashboard .u-layout-cell-2 {
  min-height: 169px;
  background-image: none;
}

.section-dashboard .u-container-layout-2 {
  padding: 3px 0;
}

.section-dashboard .u-text-7 {
  margin: 7px auto 0;
}

.section-dashboard .u-text-8 {
  font-size: 2.25rem;
  margin: 7px auto 0;
}

.section-dashboard .u-shape-2 {
  width: 187px;
  height: 35px;
  margin: 21px 30px 0 22px;
}

.section-dashboard .u-text-9 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -27px auto 0 69px;
}

.section-dashboard .u-icon-2 {
  width: 23px;
  height: 23px;
  margin: -24px auto 0 35px;
}

.section-dashboard .u-text-10 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -26px auto 0 125px;
}

.section-dashboard .u-layout-cell-3 {
  background-image: none;
  min-height: 169px;
}

.section-dashboard .u-container-layout-3 {
  padding: 10px 22px;
}

.section-dashboard .u-text-11 {
  margin: 0 auto 0 70px;
}

.section-dashboard .u-text-12 {
  font-size: 2.25rem;
  margin: 8px auto 0 36px;
}

.section-dashboard .u-shape-3 {
  width: 187px;
  height: 35px;
  margin: 17px auto 0 4px;
}

.section-dashboard .u-text-13 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -27px auto 0 51px;
}

.section-dashboard .u-icon-3 {
  width: 23px;
  height: 23px;
  margin: -24px auto 0 17px;
}

.section-dashboard .u-text-14 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -27px auto 0 107px;
}

.section-dashboard .u-layout-cell-4 {
  min-height: 169px;
  background-image: none;
}

.section-dashboard .u-container-layout-4 {
  padding: 9px 22px;
}

.section-dashboard .u-text-15 {
  margin: 0 auto;
}

.section-dashboard .u-text-16 {
  font-size: 2.25rem;
  margin: 8px auto 0;
}

.section-dashboard .u-shape-4 {
  width: 187px;
  height: 35px;
  margin: 15px auto 0;
}

.section-dashboard .u-text-17 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -27px auto 0 51px;
}

.section-dashboard .u-icon-4 {
  width: 23px;
  height: 23px;
  margin: -24px auto 0 17px;
}

.section-dashboard .u-text-18 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -27px 15px 0 auto;
}

@media (max-width: 1199px) {
  .section-dashboard .u-text-1 {
    width: auto;
    margin-top: 136px;
    margin-left: 44px;
  }

  .section-dashboard .u-text-2 {
    width: auto;
    margin-left: 13px;
  }

  .section-dashboard .u-layout-wrap-1 {
    width: 662px;
    margin-top: -202px;
    margin-right: 11px;
  }

  .section-dashboard .u-container-layout-1 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .section-dashboard .u-text-3 {
    width: auto;
    margin-top: 26px;
    margin-right: 48px;
    font-size: 4.5rem;
  }

  .section-dashboard .u-text-4 {
    width: auto;
    margin-top: -86px;
    margin-left: 32px;
  }

  .section-dashboard .u-shape-1 {
    width: 240px;
    margin-top: 6px;
    margin-left: 32px;
  }

  .section-dashboard .u-text-5 {
    width: auto;
    margin-top: -42px;
    margin-left: 89px;
  }

  .section-dashboard .u-icon-1 {
    margin-top: -32px;
    margin-left: 51px;
  }

  .section-dashboard .u-text-6 {
    width: auto;
    margin-top: -40px;
    margin-left: 154px;
  }

  .section-dashboard .u-shape-2 {
    width: 164px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-dashboard .u-text-9 {
    width: auto;
    margin-top: -29px;
    margin-left: 58px;
  }

  .section-dashboard .u-icon-2 {
    margin-top: -22px;
    margin-left: 29px;
  }

  .section-dashboard .u-text-10 {
    width: auto;
    margin-top: -28px;
    margin-right: 34px;
    margin-left: auto;
  }

  .section-dashboard .u-container-layout-3 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .section-dashboard .u-shape-3 {
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .section-dashboard .u-text-13 {
    width: auto;
    margin-top: -29px;
    margin-left: 43px;
  }

  .section-dashboard .u-icon-3 {
    margin-left: 9px;
  }

  .section-dashboard .u-text-14 {
    width: auto;
    margin-top: -30px;
    margin-right: 20px;
  }

  .section-dashboard .u-container-layout-4 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .section-dashboard .u-shape-4 {
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .section-dashboard .u-text-17 {
    width: auto;
    margin-top: -25px;
    margin-left: 46px;
  }

  .section-dashboard .u-icon-4 {
    margin-top: -23px;
    margin-left: 8px;
  }

  .section-dashboard .u-text-18 {
    width: auto;
    margin-top: -32px;
    margin-right: 22px;
  }
}

@media (max-width: 991px) {
  .section-dashboard .u-text-1 {
    margin-top: 60px;
    margin-left: 269px;
  }

  .section-dashboard .u-text-2 {
    margin-left: 238px;
  }

  .section-dashboard .u-layout-wrap-1 {
    margin-top: 26px;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .section-dashboard .u-layout-cell-1 {
    min-height: 138px;
  }

  .section-dashboard .u-shape-1 {
    height: 46px;
  }

  .section-dashboard .u-text-5 {
    margin-top: -33px;
  }

  .section-dashboard .u-icon-1 {
    margin-top: -27px;
  }

  .section-dashboard .u-text-6 {
    margin-top: -38px;
  }

  .section-dashboard .u-layout-cell-2 {
    min-height: 162px;
  }

  .section-dashboard .u-layout-cell-3 {
    min-height: 100px;
  }

  .section-dashboard .u-text-11 {
    margin-left: 67px;
  }

  .section-dashboard .u-shape-3 {
    width: 185px;
  }

  .section-dashboard .u-text-14 {
    margin-left: 102px;
  }

  .section-dashboard .u-layout-cell-4 {
    min-height: 162px;
  }

  .section-dashboard .u-shape-4 {
    width: 185px;
  }
}

@media (max-width: 767px) {
  .section-dashboard .u-text-1 {
    margin-left: 171px;
  }

  .section-dashboard .u-text-2 {
    margin-left: 148px;
  }

  .section-dashboard .u-layout-wrap-1 {
    position: relative;
    width: 540px;
  }

  .section-dashboard .u-layout-cell-1 {
    min-height: 136px;
  }

  .section-dashboard .u-text-3 {
    font-size: 3.75rem;
    margin-top: 22px;
    margin-right: 32px;
  }

  .section-dashboard .u-text-4 {
    margin-top: -82px;
  }

  .section-dashboard .u-layout-cell-2 {
    min-height: 82px;
  }

  .section-dashboard .u-container-layout-2 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .section-dashboard .u-text-7 {
    width: auto;
    margin-top: 5px;
    margin-left: 32px;
  }

  .section-dashboard .u-text-8 {
    width: auto;
    font-size: 3rem;
    margin-top: -25px;
    margin-right: 36px;
  }

  .section-dashboard .u-shape-2 {
    margin-top: -42px;
    margin-left: 134px;
  }

  .section-dashboard .u-text-9 {
    margin-top: -28px;
    margin-left: 173px;
  }

  .section-dashboard .u-icon-2 {
    margin-left: 143px;
  }

  .section-dashboard .u-text-10 {
    margin-top: -27px;
    margin-right: auto;
    margin-left: 221px;
  }

  .section-dashboard .u-layout-cell-3 {
    min-height: 86px;
  }

  .section-dashboard .u-container-layout-3 {
    padding: 0 10px;
  }

  .section-dashboard .u-text-11 {
    width: auto;
    margin-top: 10px;
    margin-left: 22px;
  }

  .section-dashboard .u-text-12 {
    font-size: 3rem;
    width: auto;
    margin-top: -27px;
    margin-right: 22px;
    margin-left: auto;
  }

  .section-dashboard .u-shape-3 {
    width: 187px;
    margin-top: -42px;
    margin-left: 122px;
  }

  .section-dashboard .u-text-13 {
    margin-top: -27px;
    margin-left: 159px;
  }

  .section-dashboard .u-icon-3 {
    margin-left: 132px;
  }

  .section-dashboard .u-text-14 {
    margin-top: -24px;
    margin-right: auto;
    margin-left: 211px;
  }

  .section-dashboard .u-layout-cell-4 {
    min-height: 80px;
  }

  .section-dashboard .u-container-layout-4 {
    padding: 7px 10px;
  }

  .section-dashboard .u-text-15 {
    width: auto;
    margin-top: 2px;
    margin-left: 22px;
  }

  .section-dashboard .u-text-16 {
    width: auto;
    font-size: 3rem;
    margin-top: -25px;
    margin-right: 26px;
  }

  .section-dashboard .u-shape-4 {
    width: 165px;
    margin-top: -49px;
    margin-left: 122px;
  }

  .section-dashboard .u-text-17 {
    margin-top: -27px;
    margin-left: 159px;
  }

  .section-dashboard .u-icon-4 {
    margin-left: 132px;
  }

  .section-dashboard .u-text-18 {
    margin-top: -27px;
    margin-right: auto;
    margin-left: 211px;
  }
}

@media (max-width: 575px) {
  .section-dashboard .u-text-1 {
    margin-left: 80px;
  }

  .section-dashboard .u-text-2 {
    font-size: 2.25rem;
    margin-left: 90px;
  }

  .section-dashboard .u-layout-wrap-1 {
    width: 340px;
  }

  .section-dashboard .u-layout-cell-1 {
    min-height: 133px;
  }

  .section-dashboard .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section-dashboard .u-text-3 {
    font-size: 3rem;
    margin-top: 11px;
    margin-right: 10px;
  }

  .section-dashboard .u-text-4 {
    margin-top: -56px;
    margin-left: 14px;
    font-size: 1.25rem;
  }

  .section-dashboard .u-shape-1 {
    height: 35px;
    margin-top: 29px;
    margin-left: 47px;
  }

  .section-dashboard .u-text-5 {
    margin-top: -27px;
    margin-left: 101px;
  }

  .section-dashboard .u-icon-1 {
    margin-top: -34px;
    margin-left: 58px;
  }

  .section-dashboard .u-text-6 {
    margin-top: -35px;
    margin-right: 65px;
    margin-left: auto;
  }

  .section-dashboard .u-layout-cell-2 {
    min-height: 100px;
  }

  .section-dashboard .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section-dashboard .u-text-7 {
    margin-top: 7px;
    margin-left: 14px;
  }

  .section-dashboard .u-text-8 {
    font-size: 1.875rem;
    margin-top: -6px;
    margin-right: 23px;
  }

  .section-dashboard .u-shape-2 {
    margin-top: -20px;
    margin-left: 21px;
  }

  .section-dashboard .u-text-9 {
    margin-top: -25px;
    margin-left: 66px;
  }

  .section-dashboard .u-icon-2 {
    margin-left: 36px;
  }

  .section-dashboard .u-text-10 {
    margin-top: -28px;
    margin-left: 111px;
  }

  .section-dashboard .u-layout-cell-3 {
    min-height: 100px;
  }

  .section-dashboard .u-text-11 {
    margin-top: 8px;
    margin-left: 4px;
  }

  .section-dashboard .u-text-12 {
    font-size: 1.875rem;
    margin-top: -7px;
    margin-right: 14px;
  }

  .section-dashboard .u-shape-3 {
    margin-top: -23px;
    margin-left: 11px;
  }

  .section-dashboard .u-text-13 {
    margin-top: -26px;
    margin-left: 56px;
  }

  .section-dashboard .u-icon-3 {
    margin-left: 21px;
  }

  .section-dashboard .u-text-14 {
    margin-top: -25px;
    margin-left: 101px;
  }

  .section-dashboard .u-layout-cell-4 {
    min-height: 94px;
  }

  .section-dashboard .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section-dashboard .u-text-15 {
    margin-top: 9px;
    margin-left: 6px;
  }

  .section-dashboard .u-text-16 {
    font-size: 1.875rem;
    margin-top: -7px;
    margin-right: 22px;
  }

  .section-dashboard .u-shape-4 {
    margin-top: -23px;
    margin-left: 12px;
  }

  .section-dashboard .u-text-17 {
    margin-top: -25px;
    margin-left: 56px;
  }

  .section-dashboard .u-icon-4 {
    margin-left: 21px;
  }

  .section-dashboard .u-text-18 {
    margin-top: -25px;
    margin-left: 113px;
  }
}