.sectionresetpassword {
    min-height: 710px;
  }
  
  .sectionresetpassword .u-layout-wrap-1 {
    pointer-events: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .sectionresetpassword .u-image-1 {
    min-height: 710px;
    pointer-events: auto;
    background-image: url("https://pixabay.com/get/ge8ea89e9965d1f96d61b52d44b0ade31086849709bb90ba1e43afb4ee721e1bfe4cac864d4fba26ddd3dd655d40cf2cb9a3665db33e01ac8e68257f1a2173911_1280.jpg");
    background-position: 100% 50%;
  }
  
  .sectionresetpassword .u-container-layout-1 {
    padding: 30px 60px;
  }
  
  .sectionresetpassword .u-layout-cell-2 {
    min-height: 710px;
    pointer-events: auto;
  }
  
  .sectionresetpassword .u-container-layout-2 {
    padding: 30px 60px;
    background-color: #ffffff !important;
  }
  
  .sectionresetpassword .u-group-1 {
    margin-bottom: 0;
    margin-top: 158px;
    background-image: none;
    min-height: 404px;
    height: auto;
  }
  
  .sectionresetpassword .u-container-layout-3 {
    padding: 0;
  }
  
  .sectionresetpassword .u-group-2 {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 88px;
    height: auto;
  }
  
  .sectionresetpassword .u-container-layout-4 {
    padding-right: 30px;
    padding-left: 30px;
    background-color: #A8C9DA !important;
  }
  
  .sectionresetpassword .u-text-1 {
    font-size: 2.25rem;
    margin: 0 auto;
  }
  
  .sectionresetpassword .u-text-2 {
    font-size: 1.25rem;
    margin: 18px 66px 0 61px;
    color:#000000 !important;
  }
  
  .sectionresetpassword .u-text-3 {
    font-size: 1.125rem;
    margin: 15px auto 0 28px;
    color:#000000 !important;
  }
  
  .sectionresetpassword .u-form-1 {
    height: 181px;
    margin: 0 21px 0 16px;
  }
  
  .sectionresetpassword .u-form-group-1 {
    margin-bottom: 0;
  }
  
  .sectionresetpassword .u-form-group-2 {
    margin-left: 0;
    margin-top: 20px;
  }
  
  .sectionresetpassword .u-text-4 {
    font-size: 1.125rem;
    margin: -137px auto 0 28px;
    color:#000000 !important;
  }
  
  .sectionresetpassword .u-btn-2 {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 2px;
    background-image: none;
    border-style: solid;
    margin: 112px auto 0 0;
    padding: 10px 34px;
  }
  
  @media (max-width: 1199px) {
    .sectionresetpassword {
      min-height: 585px;
    }
  
    .sectionresetpassword .u-image-1 {
      background-position: 100% 100%;
      min-height: 585px;
    }
  
    .sectionresetpassword .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
      background-color: #ffffff !important;
    }
  
    .sectionresetpassword .u-group-1 {
      height: auto;
    }
  
    .sectionresetpassword .u-group-2 {
      height: auto;
    }
  
    .sectionresetpassword .u-text-2 {
      width: auto;
      margin-left: 29px;
      margin-right: 29px;
      color:#000000 !important;
    }
  
    .sectionresetpassword .u-text-3 {
      margin-top: 10px;
      color:#000000 !important;
    }
  
    .sectionresetpassword .u-form-1 {
      height: 191px;
      margin-top: 6px;
      margin-right: 19px;
      margin-left: 0;
    }
  
    .sectionresetpassword .u-text-4 {
      width: auto;
      margin-top: -136px;
      color:#000000 !important;
    }
  
    .sectionresetpassword .u-btn-2 {
      margin-left: 30px;
    }
  }
  
  @media (max-width: 991px) {
    .sectionresetpassword {
      min-height: 448px;
    }
  
    .sectionresetpassword .u-image-1 {
      min-height: 448px;
    }
  
    .sectionresetpassword .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .sectionresetpassword .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .sectionresetpassword .u-text-2 {
      margin-right: 19px;
      margin-left: 19px;
      color:#000000 !important;
    }
  
    .sectionresetpassword .u-text-3 {
      width: auto;
      margin-top: 24px;
      color:#000000 !important;
    }
  
    .sectionresetpassword .u-form-1 {
      margin-top: -8px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .sectionresetpassword .u-text-4 {
      margin-top: -138px;
      color:#000000 !important;
    }
  
    .sectionresetpassword .u-btn-2 {
      margin-left: 0;
    }
  }
  
  @media (max-width: 767px) {
    .sectionresetpassword {
      min-height: 923px;
    }
  
    .sectionresetpassword .u-image-1 {
      min-height: 264px;
    }
  
    .sectionresetpassword .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .sectionresetpassword .u-layout-cell-2 {
      min-height: 725px;
    }
  
    .sectionresetpassword .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 0;
      background-color: #ffffff !important;
    }
  
    .sectionresetpassword .u-group-1 {
      margin-top: 57px;
      min-height: 380px;
    }
  
    .sectionresetpassword .u-container-layout-4 {
      padding-right: 10px;
      padding-left: 10px;
      background-color: #A8C9DA !important;
    }
  
    .sectionresetpassword .u-text-2 {
      width: 387px;
      margin-top: 16px;
      margin-left: auto;
      margin-right: auto;
      color:#000000 !important;
    }
  
    .sectionresetpassword .u-text-3 {
      margin-top: 9px;
      margin-left: 22px;
      color:#000000 !important;
    }
  
    .sectionresetpassword .u-form-1 {
      width: 616px;
      margin-top: -2px;
      margin-left: 0;
      margin-right: 0;
    }
  
    .sectionresetpassword .u-text-4 {
      margin-top: -139px;
      margin-left: 22px;
      color:#000000 !important;
    }
  
    .sectionresetpassword .u-btn-2 {
      margin-top: 212px;
    }
  }
  
  @media (max-width: 575px) {
    .sectionresetpassword {
      min-height: 949px;
    }
  
    .sectionresetpassword .u-image-1 {
      min-height: 199px;
    }
  
    .sectionresetpassword .u-layout-cell-2 {
      min-height: 658px;
    }
  
    .sectionresetpassword .u-container-layout-2 {
      padding-bottom: 1px;
      background-color: #ffffff !important;
    }
  
    .sectionresetpassword .u-group-1 {
      margin-top: 74px;
      min-height: 404px;
    }
  
    .sectionresetpassword .u-text-2 {
      width: 320px;
      margin-left: 19px;
      margin-right: 19px;
      color:#000000 !important;
    }
  
    .sectionresetpassword .u-form-1 {
      margin-right: 9px;
      width: 320px;
    }
  
    .sectionresetpassword .u-btn-2 {
      margin-top: 195px;
    }
  }