.error {
  color:#db2269;
  font-size: 0.625em;
  display: relative;
}

.register-section-1 {
    background-image: url("../../assets/img/bgregis.png");
    background-position: 50% 50%;
  }
  
  .register-section-1 .u-sheet-1 {
    min-height: 591px;
  }
  
  .register-section-1 .u-layout-wrap-1 {
    margin-top: 23px;
    margin-bottom: 23px;
  }
  
  .register-section-1 .u-layout-cell-1 {
    min-height: 545px;
    margin-top: 0;
  }
  
  .register-section-1 .u-container-layout-1 {
    padding: 11px 30px;
  }
  
  .register-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin: 36px auto 0 164px;
  }
  
  .register-section-1 .u-line-1 {
    width: 414px;
    height: 3px;
    transform-origin: left center 0px;
    margin: 11px auto 0 50px;
  }
  
  .register-section-1 .u-icon-1 {
    width: 40px;
    height: 40px;
    margin: 15px auto 0 142px;
  }
  
  .register-section-1 .u-icon-2 {
    width: 40px;
    height: 40px;
    margin: -40px auto 0 238px;
  }
  
  .register-section-1 .u-icon-3 {
    width: 41px;
    height: 41px;
    margin: -40px auto 0 332px;
  }
  
  .register-section-1 .u-form-1 {
    height: 107px;
    margin: 218px 612px 0 47px;
  }
  
  .register-section-1 .u-form-group-1 {
    margin-left: 0;
  }
  
  .u-block-facc-24 {
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
  }
  
  @media (max-width: 1199px) {
    .register-section-1 .u-sheet-1 {
      min-height: 391px;
    }
  
    .register-section-1 .u-layout-wrap-1 {
      position: relative;
    }
  
    .register-section-1 .u-layout-cell-1 {
      min-height: 490px;
    }
  
    .register-section-1 .u-text-1 {
      width: auto;
      margin-top: 35px;
      margin-left: 137px;
    }
  
    .register-section-1 .u-line-1 {
      width: 361px;
      margin-top: 10px;
      margin-left: 35px;
    }
  
    .register-section-1 .u-icon-1 {
      margin-left: 115px;
    }
  
    .register-section-1 .u-icon-2 {
      margin-left: 210px;
    }
  
    .register-section-1 .u-icon-3 {
      width: 40px;
      height: 40px;
      margin-left: 305px;
    }
  
    .register-section-1 .u-form-1 {
      margin-top: 209px;
      margin-right: 445px;
      margin-left: 25px;
    }
  }
  
  @media (max-width: 991px) {
    .register-section-1 .u-sheet-1 {
      min-height: 278px;
    }
  
    .register-section-1 .u-layout-cell-1 {
      min-height: 610px;
    }
  
    .register-section-1 .u-text-1 {
      margin-top: 25px;
      margin-left: auto;
    }
  
    .register-section-1 .u-line-1 {
      transform-origin: right center 0px;
      width: 427px;
      margin-top: 20px;
      margin-left: auto;
    }
  
    .register-section-1 .u-icon-1 {
      margin-top: 20px;
      margin-left: 180px;
    }
  
    .register-section-1 .u-icon-2 {
      margin-left: 310px;
    }
  
    .register-section-1 .u-icon-3 {
      margin-left: 440px;
    }
  
    .register-section-1 .u-form-1 {
      width: 300px;
      margin-top: 304px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 767px) {
    .register-section-1 .u-sheet-1 {
      min-height: 546px;
    }
  
    .register-section-1 .u-layout-cell-1 {
      min-height: 482px;
    }
  
    .register-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .register-section-1 .u-text-1 {
      margin-top: 26px;
    }
  
    .register-section-1 .u-line-1 {
      width: 388px;
      margin-top: 13px;
    }
  
    .register-section-1 .u-icon-1 {
      margin-left: 136px;
    }
  
    .register-section-1 .u-icon-2 {
      margin-left: auto;
    }
  
    .register-section-1 .u-icon-3 {
      margin-right: 136px;
      margin-left: auto;
    }
  
    .register-section-1 .u-form-1 {
      margin-top: 217px;
    }
  }
  
  @media (max-width: 575px) {
    .register-section-1 .u-sheet-1 {
      min-height: 359px;
    }
  
    .register-section-1 .u-layout-cell-1 {
      min-height: 534px;
    }
  
    .register-section-1 .u-container-layout-1 {
      padding-left: 0;
      padding-right: 0;
    }
  
    .register-section-1 .u-text-1 {
      margin-top: 19px;
    }
  
    .register-section-1 .u-line-1 {
      width: 320px;
      margin-top: 6px;
    }
  
    .register-section-1 .u-icon-1 {
      margin-left: 65px;
    }
  
    .register-section-1 .u-icon-3 {
      margin-right: 65px;
    }
  
    .register-section-1 .u-form-1 {
      margin-top: 278px;
    }
  }

  .register-section-2 {
    background-image: url("../../assets/img/bgregis.png");
    background-position: 50% 50%;
  }
  
  .register-section-2 .u-sheet-1 {
    min-height: 934px;
  }
  
  .register-section-2 .u-layout-wrap-1 {
    margin-top: 79px;
    margin-bottom: 56px;
  }
  
  .register-section-2 .u-layout-cell-1 {
    min-height: 959px;
  }
  
  .register-section-2 .u-container-layout-1 {
    padding: 30px 0;
  }
  
  .register-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin: 0 auto 0 192px;
  }
  
  .register-section-2 .u-line-1 {
    width: 414px;
    height: 3px;
    transform-origin: left center 0px;
    margin: 10px auto 0;
  }
  
  .register-section-2 .u-icon-1 {
    width: 40px;
    height: 41px;
    margin: 16px auto 0 170px;
  }
  
  .register-section-2 .u-icon-2 {
    width: 40px;
    height: 40px;
    margin: -40px auto 0 265px;
  }
  
  .register-section-2 .u-icon-3 {
    width: 41px;
    height: 41px;
    margin: -41px auto 0 360px;
  }
  
  .register-section-2 .u-form-1 {
    height: 706px;
    width: 492px;
    margin: 10px auto 0;
  }
  
  .register-section-2 .u-label-1 {
    font-size: 0.75rem;
  }
  
  .register-section-2 .u-input-1 {
    background-image: none;
    font-size: 0.75rem;
  }
  
  .register-section-2 .u-label-2 {
    font-size: 0.75rem;
  }
  
  .register-section-2 .u-input-2 {
    background-image: none;
    font-size: 0.75rem;
  }
  
  .register-section-2 .u-form-group-3 {
    margin-left: 0;
  }
  
  .register-section-2 .u-label-3 {
    font-size: 0.75rem;
  }
  
  .register-section-2 .u-input-3 {
    background-image: none;
    font-size: 0.75rem;
  }
  
  .register-section-2 .u-form-group-4 {
    margin-left: 0;
  }
  
  .register-section-2 .u-label-4 {
    font-size: 0.75rem;
  }
  
  .register-section-2 .u-input-4 {
    background-image: none;
    font-size: 0.75rem;
  }
  
  .register-section-2 .u-form-group-5 {
    margin-left: 0;
  }
  
  .register-section-2 .u-label-5 {
    font-size: 0.75rem;
  }
  
  .register-section-2 .u-input-5 {
    background-image: none;
    font-size: 0.75rem;
  }
  
  .register-section-2 .u-form-group-6 {
    margin-left: 0;
  }
  
  .register-section-2 .u-label-6 {
    font-size: 0.75rem;
  }
  
  .register-section-2 .u-input-6 {
    background-image: none;
    font-size: 0.75rem;
  }
  
  .register-section-2 .u-form-group-7 {
    margin-left: 0;
  }
  
  .register-section-2 .u-label-7 {
    font-size: 0.75rem;
  }
  
  .register-section-2 .u-input-7 {
    background-image: none;
    font-size: 0.75rem;
  }
  
  .register-section-2 .u-form-group-8 {
    margin-left: 0;
  }
  
  .register-section-2 .u-label-8 {
    font-size: 0.75rem;
  }
  
  .register-section-2 .u-input-8 {
    background-image: none;
    font-size: 0.75rem;
  }
  
  .register-section-2 .u-btn-1 {
    margin-bottom: 0;
    border-style: none;
    background-image: none;
  }
  
  .register-section-2 .u-btn-2 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: -53px auto 0 55px;
    padding: 10px 20px;
  }
  
  .register-section-2 .u-layout-cell-2 {
    min-height: 799px;
  }
  
  .register-section-2 .u-container-layout-2 {
    padding: 30px;
  }
  
  @media (max-width: 1199px) {
    .register-section-2 .u-sheet-1 {
      min-height: 1010px;
    }
  
    .register-section-2 .u-layout-wrap-1 {
      margin-bottom: 52px;
    }
  
    .register-section-2 .u-layout-cell-1 {
      min-height: 879px;
    }
  
    .register-section-2 .u-container-layout-1 {
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .register-section-2 .u-text-1 {
      width: auto;
      margin-top: 64px;
      margin-left: auto;
    }
  
    .register-section-2 .u-icon-1 {
      margin-left: 129px;
    }
  
    .register-section-2 .u-icon-2 {
      margin-left: 219px;
    }
  
    .register-section-2 .u-icon-3 {
      margin-right: 120px;
      margin-left: auto;
    }
  
    .register-section-2 .u-form-1 {
      width: 470px;
    }
  
    .register-section-2 .u-btn-2 {
      margin-left: 10px;
    }
  
    .register-section-2 .u-layout-cell-2 {
      min-height: 879px;
    }
  
    .register-section-2 .u-container-layout-2 {
      padding-left: 0;
    }
  }
  
  @media (max-width: 991px) {
    .register-section-2 .u-sheet-1 {
      min-height: 522px;
    }
  
    .register-section-2 .u-layout-cell-1 {
      min-height: 815px;
    }
  
    .register-section-2 .u-line-1 {
      width: 444px;
    }
  
    .register-section-2 .u-icon-1 {
      margin-left: 220px;
    }
  
    .register-section-2 .u-icon-2 {
      margin-right: 327px;
      margin-left: auto;
    }
  
    .register-section-2 .u-icon-3 {
      margin-right: 207px;
    }
  
    .register-section-2 .u-form-1 {
      width: 360px;
    }
  
    .register-section-2 .u-btn-2 {
      margin-left: 183px;
    }
  
    .register-section-2 .u-layout-cell-2 {
      min-height: 673px;
    }
  }
  
  @media (max-width: 767px) {
    .register-section-2 .u-sheet-1 {
      min-height: 1147px;
    }
  
    .register-section-2 .u-text-1 {
      margin-left: 182px;
    }
  
    .register-section-2 .u-line-1 {
      margin-left: 87px;
    }
  
    .register-section-2 .u-icon-1 {
      margin-top: 14px;
      margin-left: 130px;
    }
  
    .register-section-2 .u-icon-2 {
      margin-right: auto;
    }
  
    .register-section-2 .u-icon-3 {
      margin-top: -40px;
      margin-right: 129px;
    }
  
    .register-section-2 .u-form-1 {
      margin-top: 11px;
    }
  
    .register-section-2 .u-btn-2 {
      margin-left: 103px;
    }
  
    .register-section-2 .u-layout-cell-2 {
      min-height: 15px;
    }
  
    .register-section-2 .u-container-layout-2 {
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .register-section-2 .u-sheet-1 {
      min-height: 719px;
    }
  
    .register-section-2 .u-layout-cell-1 {
      min-height: 875px;
    }
  
    .register-section-2 .u-text-1 {
      margin-left: auto;
    }
  
    .register-section-2 .u-line-1 {
      width: 340px;
      margin-left: 10px;
    }
  
    .register-section-2 .u-icon-1 {
      margin-left: 60px;
    }
  
    .register-section-2 .u-icon-3 {
      margin-top: -41px;
      margin-right: 59px;
    }
  
    .register-section-2 .u-form-1 {
      margin-top: 18px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .register-section-2 .u-btn-2 {
      margin-top: -55px;
      margin-left: 10px;
      padding-bottom: 11px;
    }
  
    .register-section-2 .u-layout-cell-2 {
      min-height: 28px;
    }
  }

  .register-section-3 {
    background-image: url("../../assets/img/bgregis.png");
    background-position: 50% 50%;
  }
  
  .register-section-3 .u-sheet-1 {
    min-height: 545px;
  }
  
  .register-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
  }
  
  .register-section-3 .u-layout-cell-1 {
    min-height: 494px;
  }
  
  .register-section-3 .u-container-layout-1 {
    padding: 30px;
  }
  
  .register-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin: 0 auto 0 162px;
  }
  
  .register-section-3 .u-line-1 {
    width: 414px;
    height: 3px;
    transform-origin: left center 0px;
    margin: 11px auto 0 48px;
  }
  
  .register-section-3 .u-list-1 {
    width: 300px;
    height: auto;
    min-height: 103px;
    margin: -3px auto 0 110px;
  }
  
  .register-section-3 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-gap: 0px 0px;
  }
  
  .register-section-3 .u-container-layout-2 {
    padding: 30px;
  }
  
  .register-section-3 .u-icon-1 {
    width: 40px;
    height: 41px;
    margin: 0 auto;
  }
  
  .register-section-3 .u-container-layout-3 {
    padding: 30px;
  }
  
  .register-section-3 .u-icon-2 {
    width: 40px;
    height: 41px;
    margin: 0 auto;
  }
  
  .register-section-3 .u-container-layout-4 {
    padding: 30px;
  }
  
  .register-section-3 .u-icon-3 {
    width: 40px;
    height: 41px;
    margin: 0 auto;
  }
  
  .register-section-3 .u-text-2 {
    margin: -22px auto 0 125px;
  }
  
  .register-section-3 .u-icon-4 {
    width: 97px;
    height: 96px;
    margin: 20px auto 0 207px;
  }
  
  .register-section-3 .u-text-3 {
    margin: 20px auto 0 198px;
  }
  
  .register-section-3 .u-text-4 {
    margin: 0 auto 0 185px;
  }
  
  .register-section-3 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: none;
    margin: 47px auto 0 178px;
  }
  
  .register-section-3 .u-layout-cell-2 {
    min-height: 400px;
  }
  
  .register-section-3 .u-container-layout-5 {
    padding: 30px;
  }
  
  @media (max-width: 1199px) {
    .register-section-3 .u-sheet-1 {
      min-height: 362px;
    }
  
    .register-section-3 .u-text-1 {
      margin-left: 130px;
    }
  
    .register-section-3 .u-line-1 {
      width: 410px;
      margin-left: 0;
    }
  
    .register-section-3 .u-list-1 {
      margin-left: auto;
    }
  
    .register-section-3 .u-repeater-1 {
      grid-template-columns: repeat(3, 33.333333333333336%);
    }
  
    .register-section-3 .u-text-2 {
      width: auto;
      margin-left: 75px;
    }
  
    .register-section-3 .u-icon-4 {
      margin-left: 157px;
    }
  
    .register-section-3 .u-text-3 {
      width: auto;
      margin-left: 146px;
    }
  
    .register-section-3 .u-text-4 {
      width: auto;
      margin-left: 135px;
    }
  
    .register-section-3 .u-btn-1 {
      margin-left: auto;
    }
  
    .register-section-3 .u-layout-cell-2 {
      min-height: 330px;
    }
  }
  
  @media (max-width: 991px) {
    .register-section-3 .u-sheet-1 {
      min-height: 208px;
    }
  
    .register-section-3 .u-layout-cell-1 {
      min-height: 636px;
    }
  
    .register-section-3 .u-text-1 {
      width: auto;
      margin-left: auto;
    }
  
    .register-section-3 .u-line-1 {
      width: 530px;
      margin-left: auto;
    }
  
    .register-section-3 .u-list-1 {
      width: 450px;
      height: auto;
      min-height: auto;
    }
  
    .register-section-3 .u-repeater-1 {
      min-height: 104px;
      grid-template-columns: 33.3333% 33.3333% 33.3333%;
      grid-auto-columns: 33.3333%;
    }
  
    .register-section-3 .u-container-layout-2 {
      padding-bottom: 13px;
    }
  
    .register-section-3 .u-icon-1 {
      margin-top: 2px;
    }
  
    .register-section-3 .u-container-layout-3 {
      padding-bottom: 13px;
    }
  
    .register-section-3 .u-icon-2 {
      margin-top: 2px;
    }
  
    .register-section-3 .u-container-layout-4 {
      padding-bottom: 13px;
    }
  
    .register-section-3 .u-icon-3 {
      margin-top: 2px;
    }
  
    .register-section-3 .u-text-2 {
      margin-top: 15px;
      margin-left: auto;
    }
  
    .register-section-3 .u-icon-4 {
      margin-left: auto;
    }
  
    .register-section-3 .u-text-3 {
      margin-top: 35px;
      margin-left: auto;
    }
  
    .register-section-3 .u-text-4 {
      margin-left: auto;
    }
  
    .register-section-3 .u-btn-1 {
      margin-top: 60px;
    }
  
    .register-section-3 .u-layout-cell-2 {
      min-height: 636px;
    }
  }
  
  @media (max-width: 767px) {
    .register-section-3 .u-sheet-1 {
      min-height: 1293px;
    }
  
    .register-section-3 .u-layout-cell-1 {
      min-height: 449px;
    }
  
    .register-section-3 .u-container-layout-1 {
      padding-left: 0;
      padding-right: 0;
    }
  
    .register-section-3 .u-text-1 {
      width: 196px;
    }
  
    .register-section-3 .u-line-1 {
      width: 520px;
    }
  
    .register-section-3 .u-list-1 {
      height: auto;
      min-height: 103px;
    }
  
    .register-section-3 .u-repeater-1 {
      min-height: 109px;
    }
  
    .register-section-3 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .register-section-3 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .register-section-3 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .register-section-3 .u-text-2 {
      margin-top: 20px;
    }
  
    .register-section-3 .u-icon-4 {
      margin-right: 218px;
    }
  
    .register-section-3 .u-text-3 {
      margin-top: 20px;
      margin-left: 208px;
    }
  
    .register-section-3 .u-text-4 {
      margin-left: 200px;
    }
  
    .register-section-3 .u-btn-1 {
      margin-right: 189px;
    }
  
    .register-section-3 .u-layout-cell-2 {
      min-height: 145px;
    }
  
    .register-section-3 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .register-section-3 .u-sheet-1 {
      min-height: 737px;
    }
  
    .register-section-3 .u-layout-wrap-1 {
      margin-top: 31px;
    }
  
    .register-section-3 .u-layout-cell-1 {
      min-height: 557px;
    }
  
    .register-section-3 .u-line-1 {
      margin-top: 8px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .register-section-3 .u-list-1 {
      margin-top: 0;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .register-section-3 .u-repeater-1 {
      min-height: 103px;
    }
  
    .register-section-3 .u-icon-4 {
      margin-right: auto;
    }
  
    .register-section-3 .u-text-3 {
      margin-left: 113px;
    }
  
    .register-section-3 .u-text-4 {
      margin-left: 100px;
    }
  
    .register-section-3 .u-btn-1 {
      margin-top: 50px;
      margin-right: auto;
    }
  
    .register-section-3 .u-layout-cell-2 {
      min-height: 60px;
    }
  }