.sectionforgetpassword {
    min-height: 710px;
  }
  
  .sectionforgetpassword .u-layout-wrap-1 {
    pointer-events: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .sectionforgetpassword .u-image-1 {
    min-height: 710px;
    pointer-events: auto;
    background-image: url("../../assets/img/forgetandresetpass.png");
    background-position: 100% 50%;
  }
  
  .sectionforgetpassword .u-container-layout-1 {
    padding: 30px 60px;
  }
  
  .sectionforgetpassword .u-layout-cell-2 {
    min-height: 710px;
    pointer-events: auto;
  }
  
  .sectionforgetpassword .u-container-layout-2 {
    padding: 30px 60px;
    background-color: #ffffff !important;
  }
  
  .sectionforgetpassword .u-group-1 {
    margin-bottom: 0;
    margin-top: 161px;
    background-image: none;
    min-height: 312px;
    height: auto;
  }
  
  .sectionforgetpassword .u-container-layout-3 {
    padding: 0;
  }
  
  .sectionforgetpassword .u-group-2 {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 88px;
    height: auto;
  }
  
  .sectionforgetpassword .u-container-layout-4 {
    padding-right: 30px;
    padding-left: 30px;
    background-color: #A8C9DA !important;
  }
  
  .sectionforgetpassword .u-text-1 {
    font-size: 2.25rem;
    margin: 0 auto;
    color: #000000;
  }
  
  .sectionforgetpassword .u-text-2 {
    font-size: 1.125rem;
    margin: 21px 19px 0;
    color: #000000;
  }
  
  .sectionforgetpassword .u-form-1 {
    height: 124px;
    margin: 11px 21px 0 16px;
  }
  
  .sectionforgetpassword .u-btn-2 {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 2px;
    background-image: none;
    border-style: solid;
    margin: 108px auto 0 0;
    padding: 10px 34px;
  }
  
  @media (max-width: 1199px) {
    .sectionforgetpassword {
      min-height: 585px;
    }
  
    .sectionforgetpassword .u-image-1 {
      background-position: 100% 100%;
      min-height: 585px;
    }
  
    .sectionforgetpassword .u-layout-cell-2 {
      min-height: 585px;
    }
  
    .sectionforgetpassword .u-group-1 {
      height: auto;
    }
  
    .sectionforgetpassword .u-group-2 {
      height: auto;
    }
  
    .sectionforgetpassword .u-form-1 {
      width: 396px;
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media (max-width: 991px) {
    .sectionforgetpassword {
      min-height: 448px;
    }
  
    .sectionforgetpassword .u-image-1 {
      min-height: 448px;
    }
  
    .sectionforgetpassword .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .sectionforgetpassword .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .sectionforgetpassword .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
      background-color: #ffffff !important;
    }
  
    .sectionforgetpassword .u-form-1 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  }
  
  @media (max-width: 767px) {
    .sectionforgetpassword {
      min-height: 923px;
    }
  
    .sectionforgetpassword .u-image-1 {
      min-height: 264px;
    }
  
    .sectionforgetpassword .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .sectionforgetpassword .u-layout-cell-2 {
      min-height: 659px;
    }
  
    .sectionforgetpassword .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 0;
      background-color: #ffffff !important;
    }
  
    .sectionforgetpassword .u-group-1 {
      width: 540px;
      margin-top: 57px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .sectionforgetpassword .u-container-layout-4 {
      padding-right: 10px;
      padding-left: 10px;
      background-color: #A8C9DA !important;
    }
  
    .sectionforgetpassword .u-form-1 {
      margin-top: 7px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .sectionforgetpassword .u-btn-2 {
      margin-top: 212px;
    }
  }
  
  @media (max-width: 575px) {
    .sectionforgetpassword {
      min-height: 885px;
    }
  
    .sectionforgetpassword .u-image-1 {
      min-height: 227px;
    }
  
    .sectionforgetpassword .u-layout-cell-2 {
      min-height: 658px;
    }
  
    .sectionforgetpassword .u-container-layout-2 {
      padding-bottom: 1px;
      background-color: #ffffff !important;
    }
  
    .sectionforgetpassword .u-group-1 {
      width: 340px;
      margin-top: 74px;
    }
  
    .sectionforgetpassword .u-btn-2 {
      margin-top: 195px;
    }
  }