.sectionlogin {
    min-height: 757px;
  }
  
  .sectionlogin .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .sectionlogin .u-image-1 {
    background-image: url("../../assets/img/bglogin.png");
    min-height: 757px;
    background-position: 50% 50%;
  }
  
  .sectionlogin .u-container-layout-1 {
    padding: 0;
  }
  
  .sectionlogin .u-layout-cell-2 {
    min-height: 757px;
  }
  
  .sectionlogin .u-container-layout-2 {
    padding: 30px 0;
  }
  
  .sectionlogin .u-group-1 {
    width: 480px;
    min-height: 415px;
    height: auto;
    margin: 143px auto 0;
  }
  
  .sectionlogin .u-text-1 {
    font-size: 1.875rem;
    margin: 0 auto 0 132px;
  }
  
  .sectionlogin .u-line-1 {
    height: 3px;
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 0;
  }
  
  .sectionlogin .u-form-1 {
    height: 261px;
    width: 370px;
    margin: 30px 55px 0;
  }
  
  .sectionlogin .u-form-group-1 {
    margin-left: 0;
  }
  
  .sectionlogin .u-form-group-2 {
    margin-left: 0;
  }
  
  .sectionlogin .u-form-group-3 {
    margin-top: 20px;
  }
  
  .sectionlogin .u-text-2 {
    font-size: 0.875rem;
    text-decoration: underline !important;
    margin: -81px 66px 0 auto;
  }
  
  .sectionlogin .u-text-3 {
    font-size: 0.875rem;
    text-decoration: underline !important;
    margin: 66px auto 0;
  }
  
  @media (max-width: 1199px) {
    .sectionlogin {
      min-height: 624px;
    }
  
    .sectionlogin .u-image-1 {
      min-height: 624px;
    }
  
    .sectionlogin .u-layout-cell-2 {
      min-height: 624px;
    }
  
    .sectionlogin .u-group-1 {
      width: 470px;
      margin-top: 0;
      height: auto;
    }
  
    .sectionlogin .u-line-1 {
      margin-left: initial;
    }
  
    .sectionlogin .u-form-1 {
      margin-right: 50px;
      margin-left: 50px;
    }
  }
  
  @media (max-width: 991px) {
    .sectionlogin {
      min-height: 478px;
    }
  
    .sectionlogin .u-image-1 {
      min-height: 478px;
    }
  
    .sectionlogin .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .sectionlogin .u-container-layout-2 {
      padding-top: 29px;
      padding-bottom: 29px;
    }
  
    .sectionlogin .u-group-1 {
      width: 360px;
    }
  
    .sectionlogin .u-text-1 {
      width: auto;
      margin-left: auto;
    }
  
    .sectionlogin .u-form-1 {
      width: 360px;
      margin-right: 0;
      margin-left: 0;
    }
  }
  
  @media (max-width: 767px) {
    .sectionlogin {
      min-height: 817px;
    }
  
    .sectionlogin .u-image-1 {
      min-height: 717px;
    }
  
    .sectionlogin .u-layout-cell-2 {
      min-height: 597px;
    }
  }
  
  @media (max-width: 575px) {
    .sectionlogin {
      min-height: 740px;
    }
  
    .sectionlogin .u-layout-wrap-1 {
      margin-bottom: 60px;
    }
  
    .sectionlogin .u-image-1 {
      min-height: 451px;
    }
  
    .sectionlogin .u-layout-cell-2 {
      min-height: 415px;
    }
  
    .sectionlogin .u-container-layout-2 {
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .sectionlogin .u-group-1 {
      width: 340px;
      margin-top: 30px;
      margin-bottom: -30px;
    }
  
    .sectionlogin .u-form-1 {
      width: 340px;
    }
  }