.sectionresetpass .u-sheet-1 {
    min-height: 635px;
  }
  
  .sectionresetpass .u-layout-wrap-1 {
    margin-top: 56px;
    margin-bottom: 56px;
  }
  
  .sectionresetpass .u-image-1 {
    min-height: 523px;
    background-image: url("..//..//assets/img/bgreset_forget.png");
    background-position: 50% 50%;
  }
  
  .sectionresetpass .u-container-layout-1 {
    padding: 20px 14px;
  }
  
  .sectionresetpass .u-layout-cell-2 {
    min-height: 523px;
  }
  
  .sectionresetpass .u-container-layout-2 {
    padding: 0 0 30px;
  }
  
  .sectionresetpass .u-text-1 {
    margin: 20px auto 0;
  }
  
  .sectionresetpass .u-group-1 {
    width: 535px;
    min-height: 375px;
    margin: 30px auto 0;
  }
  
  .sectionresetpass .u-container-layout-3 {
    padding: 0 0 18px;
  }
  
  .sectionresetpass .u-text-2 {
    font-size: 1.125rem;
    width: 397px;
    margin: 5px auto 0;
  }
  
  .sectionresetpass .u-group-2 {
    min-height: 288px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  
  .sectionresetpass .u-container-layout-4 {
    padding: 0 12px;
  }
  
  .sectionresetpass .u-form-1 {
    height: 241px;
    width: 500px;
    margin: 0 auto;
  }
  
  .sectionresetpass .u-form-group-2 {
    margin-left: 0;
  }
  
  .sectionresetpass .u-btn-1 {
    background-image: none;
    border-style: none;
  }
  
  @media (max-width: 1199px) {
    .sectionresetpass .u-sheet-1 {
      min-height: 637px;
    }
  
    .sectionresetpass .u-image-1 {
      min-height: 431px;
    }
  
    .sectionresetpass .u-layout-cell-2 {
      min-height: 431px;
    }
  
    .sectionresetpass .u-group-1 {
      width: 450px;
    }
  
    .sectionresetpass .u-form-1 {
      width: 420px;
    }
  }
  
  @media (max-width: 991px) {
    .sectionresetpass .u-image-1 {
      min-height: 330px;
    }
  
    .sectionresetpass .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .sectionresetpass .u-group-1 {
      width: 350px;
      min-height: 385px;
    }
  
    .sectionresetpass .u-text-2 {
      font-size: 0.875rem;
      width: auto;
      margin-right: 5px;
      margin-left: 0;
    }
  
    .sectionresetpass .u-form-1 {
      width: 332px;
      margin-top: 23px;
    }
  }
  
  @media (max-width: 767px) {
    .sectionresetpass .u-layout-wrap-1 {
      width: 540px;
      margin-left: 0;
      margin-right: 0;
    }
  
    .sectionresetpass .u-image-1 {
      min-height: 145px;
    }
  
    .sectionresetpass .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .sectionresetpass .u-layout-cell-2 {
      min-height: 495px;
    }
  
    .sectionresetpass .u-text-2 {
      margin-right: 11px;
    }
  
    .sectionresetpass .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .sectionresetpass .u-form-1 {
      width: 326px;
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media (max-width: 575px) {
    .sectionresetpass .u-layout-wrap-1 {
      width: 340px;
    }
  
    .sectionresetpass .u-image-1 {
      min-height: 100px;
    }
  
    .sectionresetpass .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .sectionresetpass .u-group-1 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .sectionresetpass .u-text-2 {
      font-size: 1rem;
      margin-right: 21px;
      margin-left: 29px;
    }
  
    .sectionresetpass .u-form-1 {
      width: 320px;
    }
  }